[submodule "vim/vim-fugitive"]
	path = vim/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim-rails"]
	path = vim/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/ctrlp.vim"]
	path = vim/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim-surround"]
	path = vim/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/tabular"]
	path = vim/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/vim-git"]
	path = vim/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/vim-endwise"]
	path = vim/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/vim-haml"]
	path = vim/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "vim/vim-coffee-script"]
	path = vim/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/jellybeans.vim"]
	path = vim/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/ack.vim"]
	path = vim/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/gist-vim"]
	path = vim/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "vim/webapi-vim"]
	path = vim/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "vim/vim-cucumber"]
	path = vim/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/alternative.vim"]
	path = vim/alternative.vim
	url = git://github.com/compactcode/alternate.vim.git
[submodule "vim/open.vim"]
	path = vim/open.vim
	url = https://github.com/compactcode/open.vim.git
[submodule "vim/vim-slim"]
	path = vim/vim-slim
	url = git://github.com/bbommarito/vim-slim.git
[submodule "vim/vim-bundler"]
	path = vim/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vim/vagrant-vim"]
	path = vim/vagrant-vim
	url = git://github.com/smerrill/vagrant-vim.git
[submodule "vim/numbers.vim"]
	path = vim/numbers.vim
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "vim/opengl"]
	path = vim/opengl
	url = git://github.com/beyondmarc/opengl.vim.git
